<ion-view title="It's Broke!">

  <ion-nav-buttons side="right">
    <button class="button button-icon ion-camera" ng-click="vm.takePicture()"></button>
  </ion-nav-buttons>

  <ion-content>
    <div class="card" ng-repeat="card in vm.cards | reverse">
      <div class="item item-divider">
        <h2>{{card.title}}</h2>
      </div>

      <div class="item item-text-wrap">
        <img ng-src="data:image/jpeg;base64,{{card.image}}" width="100%"/>
        <!--<textarea name="" id="" cols="30" rows="5">{{card.description}}</textarea>-->
        {{card.description}}
      </div>

      <div class="item item-divider">
        <p>
          <span class="ion-android-favorite-outline"></span>
          <a href="#" class="subdued">Like (1)</a>
          <span class="ion-ios-chatbubble-outline"></span> <a href="#" class="subdued">Comments (5)</a>
        </p>
      </div>

  </ion-content>
</ion-view>
